@charset "UTF-8";
.selectric-wrapper {
  position: relative;
  cursor: pointer;
  width: 100%; }

.selectric-responsive {
  width: 100%; }

.selectric {
  min-width: 104px;
  line-height: 18px;
  border-radius: 11px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  position: relative;
  overflow: hidden;
  transition: border .25s ease-in-out; }
  .selectric .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 44px 0 15px;
    font-size: 14px;
    line-height: 44px;
    color: #4a4a4a;
    height: 44px;
    user-select: none; }
  .selectric .button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 46px;
    height: 46px;
    line-height: 44px;
    color: #BBB;
    text-indent: -9999px;
    text-align: center;
    /*font: 0/0 a;
    *font: 20px/44px Lucida Sans Unicode, Arial Unicode MS, Arial;*/ }
    .selectric .button:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 16px;
      height: 11px;
      background: url("../images/select-arrow.svg") no-repeat center center; }

.selectric-open .selectric {
  border-radius: 11px 11px 0 0;
  box-shadow: none; }

.selectric-open .selectric-items {
  border-radius: 0 0 11px 11px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09); }

.selectric-focus .selectric {
  border-color: #fff; }

.selectric-hover .selectric {
  border-color: #fff; }
  .selectric-hover .selectric .button {
    color: #a2a2a2; }

.selectric-open {
  z-index: 9999; }
  .selectric-open .selectric {
    border-color: #fff; }
  .selectric-open .selectric-items {
    display: block; }

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  user-select: none; }

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0; }
  .selectric-hide-select select {
    position: absolute;
    left: -100%; }
  .selectric-hide-select.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10; }
    .selectric-hide-select.selectric-is-native select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;
      box-sizing: border-box;
      opacity: 0; }

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important; }

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important; }

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0 15px;
  z-index: -1; }
  .selectric-items .selectric-scroll {
    height: 100%;
    overflow: auto; }
  .selectric-above .selectric-items {
    top: auto;
    bottom: 100%; }
  .selectric-items ul, .selectric-items li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px; }
  .selectric-items li {
    display: block;
    padding: 7px 0;
    color: #4a4a4a;
    cursor: pointer;
    border-bottom: 1px solid #dedede; }
    .selectric-items li:last-child {
      border: none; }
    .selectric-items li.selected {
      background: transparent;
      color: #d07720; }
    .selectric-items li.highlighted {
      background: transparent;
      color: #d07720; }
    .selectric-items li:hover {
      background: transparent;
      color: #d07720; }
  .selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    user-select: none; }
  .selectric-items .selectric-group .selectric-group-label {
    font-weight: bold;
    padding-left: 10px;
    cursor: default;
    user-select: none;
    background: none;
    color: #444; }
  .selectric-items .selectric-group.disabled li {
    filter: alpha(opacity=100);
    opacity: 1; }
  .selectric-items .selectric-group li {
    padding-left: 25px; }

/** Generated by FG **/
@font-face {
  font-family: 'Conv_GothamPro';
  src: url("../fonts/GothamPro.eot");
  src: local("☺"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/** Generated by FG **/
@font-face {
  font-family: 'Conv_GothamPro-Medium';
  src: url("../fonts/GothamPro-Medium.eot");
  src: local("☺"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/** Generated by FG **/
@font-face {
  font-family: 'Conv_Engine-Regular';
  src: url("../fonts/Engine-Regular.eot");
  src: local("☺"), url("../fonts/Engine-Regular.woff") format("woff"), url("../fonts/Engine-Regular.ttf") format("truetype"), url("../fonts/Engine-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 100%;
  position: relative;
  background-color: #fff;
  font-family: 'Conv_GothamPro' , sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 1.3;
  -webkit-text-size-adjust: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  border: none; }

a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

a:hover, a:active, a:focus {
  text-decoration: none; }

a:focus, input:focus, textarea:focus {
  outline: none; }

html {
  height: 100%; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.page {
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 52px;
  position: relative;
  overflow: hidden;
  background: url(../images/bg.png) center top no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

header {
  padding: 20px;
  background: #404178;
  font-size: 16px;
  color: #FFF; }

.content {
  max-width: 768px;
  margin: 0 auto;
  padding: 34px 20px 0 20px;
  overflow: hidden; }

.content__header {
  margin-bottom: 30px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .content__header .header__person {
    min-width: 104px;
    padding: 8px 8px 8px 17px;
    line-height: 18px;
    border-radius: 11px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09); }
  .content__header .person__name {
    font-family: 'Conv_GothamPro-Medium';
    text-transform: uppercase;
    color: #4a4a4a; }
  .content__header .person__years {
    color: #9b9b9b; }

.header__logo {
  margin-left: auto; }

.nav {
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden; }
  .nav li {
    list-style: none; }
  .nav a {
    display: block;
    padding: 14px 29px 14px 75px;
    font-family: 'Conv_Engine-Regular';
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #d4b569;
    background-repeat: no-repeat;
    background-position: 30px center; }
    .nav a:hover {
      background-color: #fefcef; }
    .nav a.choice {
      background-image: url(../images/similac.png); }
    .nav a.calculate {
      background-image: url(../images/calculator.png); }

.index__product {
  margin: 60px 0 35px 0;
  text-align: center;
  position: relative; }
  .index__product:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    width: 155px;
    height: 148px;
    margin-left: -76px;
    background-color: #c7e3a5;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .index__product img {
    max-width: 133px;
    z-index: 1;
    position: relative; }

.page__description {
  background: #FFF;
  padding: 10px 19px;
  font-size: 9px;
  line-height: 14px;
  color: #4a4a4a; }
  .page__description strong {
    font-family: 'Conv_GothamPro-Medium'; }

.bottom__nav {
  position: fixed;
  width: 100%;
  max-width: 1024px;
  bottom: 0;
  left: 50%;
  margin-left: -512px;
  background: #fff;
  border-top: 1px solid #b59648;
  display: flex;
  min-height: 48px;
  z-index: 9;
  align-self: center;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .bottom__nav a {
    width: 33%;
    min-height: 48px;
    padding-top: 35px;
    padding-bottom: 3px;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #b59648;
    background-repeat: no-repeat;
    background-position: center 5px; }
    .bottom__nav a:nth-child(1) {
      background-image: url(../images/similac_2.png); }
    .bottom__nav a:nth-child(2) {
      background-image: url(../images/calculator_2.png); }
    .bottom__nav a:nth-child(3) {
      background-image: url(../images/products.png); }
    .bottom__nav a:hover {
      background-color: #fbf8eb; }

.content__inner {
  margin-bottom: 17px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 6px 10px 0 #dbd6c7; }
  .content__inner.transparent {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }

.text-center {
  text-align: center; }

.title {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: 'Conv_Engine-Regular';
  font-size: 24px;
  line-height: 1.25;
  color: #b49547; }

.padding__side {
  padding: 38px 20px; }

.inner__wrap {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.57;
  position: relative; }

.primary__btn {
  max-width: 233px;
  height: 62px;
  margin: 18px auto;
  line-height: 54px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: 'Conv_Engine-Regular';
  font-size: 32px;
  color: #fff;
  background: url(../images/btn.svg) no-repeat center top;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-border-radius: 18px;
  border-radius: 18px; }
  .primary__btn:hover {
    opacity: .8; }
  .primary__btn.light__btn {
    max-width: 300px;
    background: url(../images/btn-white.svg) no-repeat center top;
    color: #d8b340; }

button {
  width: 100%; }
  button:hover {
    cursor: pointer; }

.pagination {
  margin: 0;
  padding: 20px 0;
  text-align: center; }
  .pagination li {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px; }
    .pagination li.active span {
      background-image: linear-gradient(to bottom, #d8b340, #c99554); }
  .pagination span {
    width: 13px;
    height: 13px;
    display: block;
    background-color: #f5ebd1;
    -webkit-border-radius: 50%;
    border-radius: 50%; }

.choice__form {
  padding: 0 35px; }

.form__section {
  margin-bottom: 50px;
  display: none; }
  .form__section:first-child {
    display: block; }
  .form__section .title {
    margin-bottom: 30px; }
  .form__section .primary__btn {
    margin-top: 80px; }

.form__el {
  padding: 14px 0;
  font-family: 'Conv_GothamPro-Medium';
  color: #4a4a4a; }
  .form__el label {
    cursor: pointer; }

input[type="text"] {
  width: 100%;
  max-width: 203px;
  height: 44px;
  margin: 0 auto;
  padding: 0 15px;
  display: block;
  color: #4a4a4a;
  border-radius: 4px;
  background-color: #ffffff;
  border: 2px solid #e9d782; }

input[type="radio"] {
  width: 21px;
  height: 21px;
  opacity: 0;
  cursor: pointer; }
  input[type="radio"] + span {
    width: 21px;
    height: 21px;
    margin-left: -21px;
    margin-right: 18px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #dfc88d;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  input[type="radio"]:checked + span {
    box-shadow: 0 0 0 3px #fff inset;
    background-image: linear-gradient(to bottom, #d8b340, #c99554); }

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  opacity: 0;
  cursor: pointer; }
  input[type="checkbox"] + span {
    width: 30px;
    height: 30px;
    margin-left: -30px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #dfc88d;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  input[type="checkbox"]:checked + span {
    background: url(../images/checkbox.svg) no-repeat center center; }

input[type="submit"] {
  width: 100%;
  cursor: pointer; }

.date__birth input#date {
  font-size: 30px;
  text-align: center;
  font-family: 'Conv_Engine-Regular';
  letter-spacing: -2px; }

.date__birth .primary__btn {
  margin-top: 50px; }

.products__item {
  margin-bottom: 14px; }
  .products__item a {
    min-height: 73px;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.57;
    color: #b49547;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 97% center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    .products__item a:hover {
      background-color: #fbf8eb;
      box-shadow: 0 2px 5px 0 rgba(181, 150, 71, 0.32); }
  .products__item .products__img {
    max-width: 56px;
    margin-right: 30px;
    padding-left: 3px;
    padding-right: 3px;
    position: relative; }
    .products__item .products__img img {
      position: relative;
      vertical-align: middle;
      z-index: 1; }
    .products__item .products__img:after {
      content: "";
      position: absolute;
      top: 5px;
      left: 0;
      width: 56px;
      height: 56px;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
    .products__item .products__img.bg-1:after {
      background-color: #bde2ed; }
    .products__item .products__img.bg-2:after {
      background-color: #eee; }
    .products__item .products__img.bg-3:after {
      background-color: rgba(108, 176, 113, 0.46); }
    .products__item .products__img.bg-4:after {
      background-color: #e3c3da; }
    .products__item .products__img.bg-5:after {
      background-color: rgba(160, 104, 160, 0.56); }
    .products__item .products__img.bg-6:after {
      background-color: rgba(239, 0, 17, 0.39); }
    .products__item .products__img.bg-7:after {
      background-color: rgba(223, 64, 12, 0.23); }
    .products__item .products__img.bg-8:after {
      background-color: rgba(226, 176, 48, 0.45); }
    .products__item .products__img.bg-9:after {
      background-color: #fed7ec; }

.product__header .back__to {
  margin-right: 20px; }

.product__header .subtitle {
  font-family: 'Conv_GothamPro-Medium';
  font-size: 18px;
  line-height: 1.22;
  color: #b59648; }

.back__to {
  width: 15px;
  height: 24px;
  display: inline-block;
  vertical-align: bottom;
  font-size: 0;
  background: url(../images/arrow-right.svg) no-repeat;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.product__description {
  padding-top: 17px; }
  .product__description p {
    margin-bottom: 20px; }

.detail__product {
  position: relative;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 24px;
  padding: 0 50px; }
  .detail__product:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 50%;
    width: 328px;
    height: 280px;
    margin-left: -164px;
    background-color: rgba(255, 255, 255, 0.64);
    -webkit-border-radius: 50px;
    border-radius: 50px; }
  .detail__product img {
    max-width: 100%;
    position: relative;
    z-index: 1; }

.buy__btn {
  width: 100%;
  max-width: 1024px;
  line-height: 52px;
  height: 52px;
  position: fixed;
  left: 50%;
  margin: 0;
  bottom: 0;
  margin-left: -512px;
  z-index: 9;
  background-image: linear-gradient(to bottom, #e0cc79, #af954d);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0;
  border-radius: 0; }

.mfp-bg {
  opacity: .3; }

.mfp-content {
  max-width: 335px;
  padding: 35px 25px;
  line-height: 1.57;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 6px 10px 0 #dbd6c7; }
  .mfp-content .primary__btn {
    margin-bottom: 0; }

.brand__color {
  margin: 20px 0;
  color: #ac872a; }
  .brand__color strong {
    font-family: 'Conv_GothamPro-Medium'; }

.is-disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .5; }

.is-hidden {
  display: none !important; }

.recomend {
  display: flex;
  align-items: center;
  padding-left: 100px; }
  .recomend.row-column {
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-align-items: self-start;
    align-items: self-start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.recomend__img {
  width: 100%;
  max-width: 133px;
  position: absolute;
  left: -10px;
  top: 20px; }
  .recomend__img img {
    position: relative;
    z-index: 1; }
  .recomend__img:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -85px;
    width: 198px;
    height: 198px;
    background-image: -webkit-linear-gradient(104deg, #fcecb7, #f8d580);
    background-image: -o-linear-gradient(104deg, #fcecb7, #f8d580);
    background-image: linear-gradient(194deg, #fcecb7, #f8d580);
    -webkit-border-radius: 50%;
    border-radius: 50%; }

.recomend__atention {
  font-size: 12px;
  font-family: 'Conv_GothamPro-Medium'; }

.min-height {
  min-height: 230px; }

#old-year {
  width: 100%;
  height: 100%;
  font-family: 'Conv_Engine-Regular';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  z-index: 9; }
  #old-year .brand__color {
    text-align: center;
    margin-bottom: 50px; }
  #old-year:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(181, 150, 71, 0.3); }
  #old-year .popup {
    top: 50%;
    margin-top: -150px; }
    #old-year .popup:after {
      content: "";
      position: absolute;
      width: 75px;
      height: 75px;
      top: -38px;
      left: 50%;
      margin-left: -38px;
      background: url(../images/popup.svg) no-repeat; }

/* Media query */
@media screen and (max-width: 1024px) {
  .bottom__nav, .buy__btn {
    left: 0;
    margin-left: 0; } }
