.content__header

	.person
		//.person__name Миша
		//.person__years 3 месяца
		select(name="person")#person
			option(value="МИША, 3 месяца" , data-id="1") МИША, 3 месяца
			option(value="МАША, 12 месяцев" , data-id="2") МАША, 12 месяцев
			option(value="АЛЕКСИС, 8 месяцев" , data-id="3") АЛЕКСИС, 8 месяцев

	.header__logo
		a(href="index.html")
			img(src="images/logo.png", alt="Similac Premium")