// jQuery
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' , integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' , crossorigin='anonymous')

// Mask input
script(src="js/jquery.maskedinput.min.js")

// Magnific popup
script(src="js/jquery.magnific-popup.min.js")

// Select
script(src="js/jquery.selectric.js")
		
// Main script
script(src='js/main.js')