doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' , content='IE=edge')
		meta(name='viewport' , content='width=device-width , initial-scale=1')
		meta(name='description' , content='')
		meta(name='keywords' , content='')
		title index
		link(rel='icon' , href='favicon.ico' type='image/x-icon')
		link(rel='stylesheet' , href='css/magnific-popup.css')
		link(rel='stylesheet' , href='css/style.css')
		//if lt IE 9
			script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
			script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	body.text-center
		
		br
		h1 Listing page:
		br
		ul
			li: a(href="birthday.html") Дата рождения
			li: a(href="calculate.html") Калькулятор смеси
			li: a(href="home.html") Главная
			li: a(href="needed.html") Вам понадобится
			li: a(href="products.html") Similac
			li: a(href="product__detail.html") Similac Premium 1
			li: a(href="recomend.html") Вам может подойти
			li: a(href="screen-2.html") Начало теста
			li: a(href="test.html") Тест