doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' , content='IE=edge')
		meta(name='viewport' , content='width=device-width , initial-scale=1')
		meta(name='description' , content='')
		meta(name='keywords' , content='')
		title product detail
		link(rel='icon' , href='favicon.ico' type='image/x-icon')
		link(rel='stylesheet' , href='css/magnific-popup.css')
		link(rel='stylesheet' , href='css/style.css')
		//if lt IE 9
			script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
			script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	body

		.page

			header Navigation Mom.life

			.content

				.product__header
					a(href="products.html").back__to <
					span.subtitle Similac Premium 1

				.detail__product
					img(src="images/A-Premium_2.png", alt="A-Premium_2")

				.content__inner
					.inner__wrap.product__description
						p Similac Premium – адаптированная детская молочная смесь с уникальным составом для комфортного пищеварения малыша. Содержит пребиотики, пробиотики, нуклеотиды и не содержит пальмового масла. 

						p 1. Пребиотики (ГОС) и пробиотики (бифидобактерии bb12) помогают формированию здоровой микрофлоры кишечника. 

						p 2. Содержит нуклеотиды – универсальный строительный материал ДНК и РНК, способствует созреванию кишечника 

						p 3. Без пальмового масла, что способствует формированию мягкого стула и лучшему усвоению кальция для формирования крепких костей и здоровых зубов

				.page__description
					<strong>Грудное молоко – лучшее питание для ребёнка, его необходимо сохранять как можно дольше.</strong> Если грудное вскармливание невозможно, педиатр поможет Вам подобрать молочную смесь, по составу и свойствам, приближенную к грудному молоку.
		
			.buy
				a(href="#").primary__btn.buy__btn Купить


		include parts/scripts.pug